body {
    background-image: url("ha.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white; opacity: 0.6;
    text-align: center;
    font-size: 500%;
    font-style: bold;
}
#long {
    word-break: break-all;
}
table {
    border-style: solid;
    border-color: white; opacity: 0.8;
    border-collapse: collapse;
}
img {
    height: 500px;
    width: 800px;
}
td {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    background-color: black; opacity: 0.8;
} 
