 body {
    background-image: url("copy-space-cinema-equipment.jpg");
    background-size: 2000px 1500px;
}

img {
    width: 600px;
}

.egy {
    display: flex;
    justify-content: left; 
}

.ketto {
    justify-content: center;
    margin-left: 800px;
    margin-right: 800px;
}
